<!-- OPCION A
<mat-icon *ngIf="theme == true" [matTooltip]="'modo oscuro'" (click)="changeTheme()">dark_mode</mat-icon>
<mat-icon *ngIf="theme == false" [matTooltip]="'modo claro'" (click)="changeTheme()">sunny</mat-icon>
 -->

<!-- OPCION B
<mat-icon [matTooltip]="tooltipName()" (click)="changeTheme()">{{theme ? 'dark_mode' : 'sunny'}}</mat-icon>
 -->

<!-- icon sol y luna
<mat-icon
[matTooltip]="themeObj.tooltip" (click)="changeThemeRefactor()">{{themeObj.icon}}
</mat-icon>
-->

<mat-slide-toggle
        color="primary"
        (ngModelChange)="onchange($event)" (click)="changeThemeRefactor()"
        [(ngModel)]="isDarkThemeActive" 
        >Dark mode</mat-slide-toggle>
