
.example-spacer {
    flex: 1 1 auto;
  }
  .example-button {
    margin-top: 0px;
    margin-left: 111rem;
    position: fixed;
  }
  
  .example-tooltip-uppercase {
    text-transform: uppercase;
  }