
.example-spacer {
    flex: 1 1 auto;
  }
  .example-button {
    margin-top: 0px;
    margin-left: 111rem;
    position: fixed;
  }
  
  .example-tooltip-uppercase {
    text-transform: uppercase;
  }

  .example-container {
    width: 300px;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    background-color: #16161a;
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  .mat-drawer {
    position: relative;
    z-index: 4;
    display: block;
    position: absolute;
    top: auto;
    bottom: 0;
    z-index: 3;
    outline: 0;
    box-sizing: border-box;
    overflow-y: auto;
    transform: translate3d(-100%, 0, 0);
}
.example-button-row{
  margin: 2rem;
  padding: 2rem;
}